#include <windows.h>
#include "resource.h"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM "Save &As...\tCtrl+Shift+S", ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "Page Set&up...", ID_FILE_PAGE_SETUP
        MENUITEM "&Print...", ID_FILE_PRINT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    END

    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z", ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
        MENUITEM "De&lete\tDel", ID_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Find...\tCtrl+F", ID_EDIT_FIND
        MENUITEM "Find &Next\tF3", ID_EDIT_FIND_NEXT
        MENUITEM "&Replace...\tCtrl+H", ID_EDIT_REPLACE
        MENUITEM "&Go To...\tCtrl+G", ID_EDIT_GO_TO
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A", ID_EDIT_SELECT_ALL
        MENUITEM "Time/&Date\tF5", ID_EDIT_TIME_DATE
    END

    POPUP "F&ormat"
    BEGIN
        MENUITEM "&Word Wrap", ID_FORMAT_WORD_WRAP
        MENUITEM "&Font...", ID_FORMAT_FONT
    END

    POPUP "&View"
    BEGIN
        MENUITEM "&Status Bar", ID_VIEW_STATUS_BAR
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About Classic Notepad", ID_HELP_ABOUT
    END
END

IDR_ACCELERATORS ACCELERATORS
BEGIN
    "N", ID_FILE_NEW, VIRTKEY, CONTROL
    "O", ID_FILE_OPEN, VIRTKEY, CONTROL
    "S", ID_FILE_SAVE, VIRTKEY, CONTROL
    "S", ID_FILE_SAVE_AS, VIRTKEY, CONTROL, SHIFT
    "Z", ID_EDIT_UNDO, VIRTKEY, CONTROL
    "X", ID_EDIT_CUT, VIRTKEY, CONTROL
    "C", ID_EDIT_COPY, VIRTKEY, CONTROL
    "V", ID_EDIT_PASTE, VIRTKEY, CONTROL
    VK_DELETE, ID_EDIT_DELETE, VIRTKEY
    "F", ID_EDIT_FIND, VIRTKEY, CONTROL
    VK_F3, ID_EDIT_FIND_NEXT, VIRTKEY
    "H", ID_EDIT_REPLACE, VIRTKEY, CONTROL
    "G", ID_EDIT_GO_TO, VIRTKEY, CONTROL
    "A", ID_EDIT_SELECT_ALL, VIRTKEY, CONTROL
    VK_F5, ID_EDIT_TIME_DATE, VIRTKEY
END

IDD_GOTO_DIALOG DIALOGEX 0, 0, 186, 72
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Go To Line"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Line number:", IDC_STATIC, 7, 10, 60, 8
    EDITTEXT IDC_GOTO_LINE_EDIT, 70, 8, 109, 14, ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON "OK", IDOK, 73, 47, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 129, 47, 50, 14
END
